<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>studentManage</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistServlet</display-name>
    <servlet-name>UserRegistServlet</servlet-name>
    <servlet-class>servlet.user.UserRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistServlet</servlet-name>
    <url-pattern>/UserRegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToUserRegistSevlet</display-name>
    <servlet-name>ToUserRegistSevlet</servlet-name>
    <servlet-class>servlet.user.ToUserRegistSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUserRegistSevlet</servlet-name>
    <url-pattern>/ToUserRegistSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAddSevlet</display-name>
    <servlet-name>StudentAddSevlet</servlet-name>
    <servlet-class>servlet.student.StudentAddSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAddSevlet</servlet-name>
    <url-pattern>/StudentAddSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>servlet.student.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>servlet.student.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsShowServlet</display-name>
    <servlet-name>StudentsShowServlet</servlet-name>
    <servlet-class>servlet.student.StudentsShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsShowServlet</servlet-name>
    <url-pattern>/StudentsShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentToDetailServlet</display-name>
    <servlet-name>StudentToDetailServlet</servlet-name>
    <servlet-class>servlet.student.StudentToDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentToDetailServlet</servlet-name>
    <url-pattern>/StudentToDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentToAddServlet</display-name>
    <servlet-name>StudentToAddServlet</servlet-name>
    <servlet-class>servlet.student.StudentToAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentToAddServlet</servlet-name>
    <url-pattern>/StudentToAddServlet</url-pattern>
  </servlet-mapping>
</web-app>